{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tag_list'|trans }}{% endblock %}

{% block login_section %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <span>{{ app.user.email }}</span>
        <a href="{{ path('app_logout') }}" class="btn btn-danger ms-2">{{ 'action_logout'|trans }}</a>
        <a href="{{ path('change_password') }}" class="btn btn-warning ms-2">{{ 'button.change_password'|trans }}</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_index') }}" class="btn btn-info ms-2">{{ 'label.users'|trans }}</a>
        {% endif %}
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-primary ms-2">{{ 'action_login'|trans }}</a>
        <a href="{{ path('app_register') }}" class="btn btn-success ms-2">{{ 'action_register'|trans }}</a>
    {% endif %}
{% endblock %}

{% block header_buttons %}
    <a href="{{ path('shorten_create') }}" class="btn btn-outline-success ms-2">{{ 'button.action_create'|trans }}</a>
    <a href="{{ path('shorten_index') }}" class="btn btn-outline-primary ms-2">{{ 'label.shortens'|trans }}</a>
    <a href="{{ path('tag_index') }}" class="btn btn-outline-secondary ms-2">{{ 'label.tags'|trans }}</a>
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_list'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tag.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'tag.updatedAt') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.title }}</td>
                    <td>{{ tag.createdAt|date('Y/m/d') }}</td>
                    <td>{{ tag.updatedAt|date('Y/m/d') }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'button.action_show'|trans }}">
                            {{ 'button.action_show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-success" href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'button.action_edit'|trans }}">
                                {{ 'button.action_edit'|trans }}
                            </a>
                            <a class="btn btn-outline-danger" href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'button.action_delete'|trans }}">
                                {{ 'button.action_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}
{% endblock %}
